<dom-module id="display-chat">
    <template>
        <template is="dom-repeat" items="{{messages}}">
            <template is="dom-if" if="{{item.displayDate}}" style="margin-bottom: 20px;">
                <paper-material elevation="3" animated>
                    <span><strong>{{item.Date}}</strong></span>
                </paper-material>
                <br />
            </template>
            <paper-material elevation="1" animated>
                <iron-icon src="{{item.AvatarURL}}"></iron-icon>
                <span>{{item.Name}}</span> at <span>{{item.Time}}</span>:
                <br />
                <span>{{item.Message}}</span>
            </paper-material>
        </template>
    </template>
</dom-module>
<script>
    Polymer({
        is: "display-chat",
        ready: function() {
            var p = this;
            // TODO: Load from DB
            this.messages = [];
            var socket = null;
            if (window["WebSocket"]) {
                // TODO: Change to param
                socket = new WebSocket("ws://localhost:8081/room");
                socket.onmessage = function(e) {
                    var msg = eval("(" + e.data + ")");
                    var messagesSize = p.messages.length;
                    var displayDate = true;
                    if (messagesSize > 0) {
                        var prevMessage = p.messages[messagesSize - 1];
                        if (prevMessage.Date === msg.Date) {
                            displayDate = false;
                        }
                    }
                    msg.displayDate = displayDate;
                    p.push('messages', msg);
                };
            }
        }
    });
</script>