<dom-module id="submit-chat">
    <template>
        <paper-textarea id="message" on-keypress="keyPressHandler" label="Your message" autofocus></paper-textarea>
        <paper-fab id="submit" on-tap="submitChat" icon="arrow-forward" mini></paper-fab>
    </template>
</dom-module>
<script>
    var socket = null;
    Polymer({
        is: "submit-chat",
        ready: function() {
            if (!window["WebSocket"]) {
                // TODO: Change to Polymer paper-dialog
                alert("Error: Your browser does not support web sockets.");
            } else {
                // TODO: Change to param
                socket = new WebSocket("ws://localhost:8081/room");
                socket.onclose = function() {
                    // TODO: Change to Polymer paper-dialog
                    alert("Connection has been closed.");
                };
            }
        },
        submitChat: function() {
            if (this.$.message.value.trim() !== "") {
                socket.send(JSON.stringify({"message": this.$.message.value}));
            }
            this.$.message.value = "";
        },
        keyPressHandler: function(event) {
            if (event.charCode == 13) {
                this.$.submit.click();
            }
        }
    });
</script>