<html>
<head>
    <!--TODO: Use paper-draw to display/hide rooms-->
    <!--TODO: Add offline support-->
    <title>Chat</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <style>
        input { display: block }
        ul { list-style: none }
    </style>
    <link rel="import" href="../bower_components/paper-styles/classes/global.html">
    <link rel="import" href="../bower_components/polymer/polymer.html">
    <link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
    <link rel="import" href="../bower_components/iron-image/iron-image.html">
    <link rel="import" href="../bower_components/iron-icon/iron-icon.html">
    <link rel="import" href="../bower_components/iron-icons/iron-icons.html">
    <link rel="import" href="../bower_components/paper-button/paper-button.html">
    <link rel="import" href="../bower_components/paper-fab/paper-fab.html">
    <link rel="import" href="../bower_components/paper-input/paper-textarea.html">
    <link rel="import" href="../bower_components/paper-toast/paper-toast.html">
    <link rel="import" href="../bower_components/paper-material/paper-material.html">
    <link rel="import" href="http://localhost:8081/components/oauth/whoami.html">
    <link rel="import" href="http://localhost:8082/components/chat/submit-chat.html">
    <link rel="import" href="http://localhost:8082/components/chat/display-chat.html">
</head>
<body>
    <!--TODO: Add paper-scroll-header-panel or paper-toolbar-->
    <who-am-i />
    <!--TODO: Add paper-menu-->
    <display-chat></display-chat>
    <submit-chat></submit-chat>
</body>
</html>